body {
    margin: 0;
    padding: 0;
    background-image: url(Imagenes/fondo\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    background-color: rgba(0, 0, 0, 0.9); 
    padding: 20px;
    height: 20px;
}

.Encabezado  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px; 
    margin-top: -20px;
}

nav ul {
    list-style-type: none;
    position: relative;
    margin-top: -27px;
}

nav ul li {
    display: inline;
    margin-left: 20px; 
}

nav ul li * {
   color: white;
   text-decoration: none;
}

.Contenedor {
    display: flex;
    padding: 20px;
    z-index: 3;
}

.contenedor-busqueda input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    color: black;
}

.Contenedor button {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: red; 
    color: white;
    width: 30px;
}

.linea-divisoria1 {
    border: none;
    border-top: 5px solid white; 
    width: 100%; 
    position: absolute;
    top: 50px; 
}

.Titulo {
    background-color:rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    text-shadow: 8px 8px 8px #000000;
    font-family: 'Times New Roman', Times, serif;
}

.Dragon {
    width: 60%; 
    display: flex;
    transform: translateX(-50%) scaleX(-1) rotate(45deg);
    margin-left: auto;
    margin-top: -470px;
    margin-right: -460px;
    z-index: 2;
    position: relative;

}

.Dragon img {
    max-width: 100%; 
    height: auto; 
    filter: drop-shadow(15px 15px 15px #000000);
}

.linea-divisoria2 {
    border: none;
    border-top: 6px solid white; 
    width: 100%; 
    position: relative;
    top: -435px; 
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
}


#contenido {
    margin-top: -350px; 
}

#contenidocarrusel {
    border: 5px solid black;
    max-width: 500px;
    height: 345px;
    position: relative;
    margin-top: -40px;
    overflow: hidden;
    margin-left: 4%;
}

.itemcarrusel {
    border: 1px solid black;
    height: 100%;
    position: relative;
}

.tarjetacarrusel {
    height: 100%;
}

#tarjeta1 {
    background-color: #FFE6E6;
}

#tarjeta2 {
    background-color: #E1AFD1;
}

#tarjeta3 {
    background-color: #AD88C6;
}

#tarjeta4 {
    background-color: #7469B6;
}

.flechascarrusel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.tarjetacarrusel {
    text-align: center;
    font-size: 24px;
}

#puntos {
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-left: 45px;
    position: relative;
}

#puntos > a {
    font-size: 1em;
}

#contenidocarrusel p {
    margin-top: 80px;
    margin-left: 50px;
    font-size: 20px;
    width: 80%;
    height: 20px;
}

#Diseño {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 490px;
    height: 355px;
    background: rgba(5, 5, 5, 0.943);
    border-radius: 5px;
    position: relative;
    margin-left: auto;
    right: 60px;
    z-index: 3;
    margin-top: -435px;
}

#Diseño h1,
#Diseño h2 {
    margin-bottom: 10px;
    color: white;
    margin-top: 10px;
}

#Diseño h1 {
    margin-right: 85px;
    font-size: 24px;
}

#Diseño h2 {
    margin-right: 165px;
    font-size: 18px;
    margin-top: -10px;
}

#Diseño .parrafo {
    width: 410px;
    height: 220px;
    right: 20px;
    padding: 20px;
    font-size: 15px;
    line-height: 1.5;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

#Diseño .parrafo img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-right: 15px;
    float: left;
}

#Diseño .parrafo .texto p {
    text-align: justify;
}

.linea-divisoria3 {
    border: none;
    border-top: 6px solid white; 
    width: 100%; 
    position: relative;
    top: 70px;
    z-index: 1; 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
}

#Metodologia1 h1 {
text-align: center;
margin-top: 100px;
}

#Objetivo {
    border: 4px solid black; 
    margin-top: 20px; 
    padding: 20px; 
    position: relative; 
    max-width: 449px;
    height: 215px;
    margin-left: 40px;
}

#Objetivo iframe {
    display: flex;
    width: 492px;
    height: 255px;
    z-index: 1; 
    position: absolute;
    left: 0px;
    top: 0px;
}
#Objetivo h1 {
    z-index: 1; 
    position: absolute;
    top: calc(100% + -15px); 
    left: 244px;
    transform: translateX(-50%);
    background-color: #000;
    color: white;
    width: 498px;
    text-align: center; 
}

#Tematica{
    border: 4px solid black; 
    margin-top: 60px; 
    padding: 20px; 
    position: relative; 
    max-width: 449px;
    height: 215px;
    margin-left: 40px;
}

#Tematica iframe {
    display: flex;
    width: 492px;
    height: 255px;
    z-index: 1; 
    position: absolute;
    left: 0px;
    top: 0px;
}

#Tematica h1 {
    z-index: 1; 
    position: absolute;
    top: calc(100% + -15px); 
    left: 244px;
    transform: translateX(-50%);
    background-color: #000;
    color: white;
    width: 498px;
    text-align: center; 
}

#Creacion{
    border: 4px solid black; 
    margin-top: 60px; 
    padding: 20px; 
    position: relative; 
    max-width: 449px;
    height: 215px;
    margin-left: 40px;
}

#Creacion iframe {
    display: flex;
    width: 492px;
    height: 255px;
    z-index: 1; 
    position: absolute;
    left: 0px;
    top: 0px;
}

#Creacion h1 {
    z-index: 1; 
    position: absolute;
    top: calc(100% + -25px); 
    left: 244px;
    transform: translateX(-50%);
    background-color: #000;
    color: white;
    width: 498px;
    text-align: center; 
    font-size: 20px;
}
#Diseño1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 490px;
    height: 285px;
    background: rgba(5, 5, 5, 0.943);
    border-radius: 5px;
    position: relative;
    margin-left: auto;
    right: 60px;
    z-index: 3;
    margin-top: -268px;
}

#Diseño1 h1,
#Diseño1 h2 {
    margin-bottom: 10px;
    color: white;
    margin-top: 3px;
}

#Diseño1 h1 {
    margin-right: 200px;
    font-size: 24px;
}

#Diseño1 h2 {
    margin-right: 190px;
    font-size: 18px;
    margin-top: -10px;
}

#Diseño1 .parrafo {
    width: 410px;
    height: 170px;
    right: 20px;
    padding: 20px;
    font-size: 14px;
    line-height: 1.5;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

#Diseño1 img {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    margin-right: 15px;
    float: left;
}

#Diseño1 .parrafo .texto p {
    text-align: justify;
}

#Diseño2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 490px;
    height: 285px;
    background: rgba(5, 5, 5, 0.943);
    border-radius: 5px;
    position: relative;
    margin-left: auto;
    right: 60px;
    z-index: 3;
    margin-top: -265px;
}

#Diseño2 h1,
#Diseño2 h2 {
    margin-bottom: 10px;
    color: white;
    margin-top: 3px;
}

#Diseño2 h1 {
    margin-right: 200px;
    font-size: 24px;
}

#Diseño2 h2 {
    margin-right: 150px;
    font-size: 18px;
    margin-top: -10px;
}

#Diseño2 .parrafo {
    width: 410px;
    height: 170px;
    right: 20px;
    padding: 20px;
    font-size: 14px;
    line-height: 1.5;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

#Diseño2 img {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    margin-right: 15px;
    float: left;
}

#Diseño2 .parrafo .texto p {
    text-align: justify;
}

#Diseño3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 490px;
    height: 285px;
    background: rgba(5, 5, 5, 0.943);
    border-radius: 5px;
    position: relative;
    margin-left: auto;
    right: 60px;
    z-index: 3;
    margin-top: -266px;
}

#Diseño3 h1,
#Diseño3 h2 {
    margin-bottom: 10px;
    color: white;
    margin-top: 3px;
}

#Diseño3 h1 {
    margin-right: 200px;
    font-size: 24px;
}

#Diseño3 h2 {
    margin-right: 160px;
    font-size: 18px;
    margin-top: -10px;
}

#Diseño3 .parrafo {
    width: 410px;
    height: 170px;
    right: 20px;
    padding: 20px;
    font-size: 14px;
    line-height: 1.5;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

#Diseño3 img {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    margin-right: 15px;
    float: left;
}

#Diseño3 .parrafo .texto p {
    text-align: justify;
}

.linea-divisoria4 {
    border: none;
    border-top: 6px solid white; 
    width: 100%; 
    position: relative;
    top: 20px; 
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
}

#comentarios {
    text-align: left;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 8px;
    border-left: 4px solid #007bff;
    max-width: 1150px; 
    top: 50px;
    margin-left:35px;
    position: relative;
}

#comentarios h2 {
    color: #000;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

#comentarios #pregunta {
    background-color: #e9e9e9;
    border-radius: 4px;
    padding: 10px 15px;
}

#comentarios #pregunta p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

#comentarios #formulario-comentario {
    margin-top: 20px;
    margin-right: 20px;
}

#comentarios .campo {
    margin-bottom: 15px;
}

#comentarios label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}

#comentarios input[type="text"],
#comentarios textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#comentarios .respuesta textarea {
    font-family: 'Arial', sans-serif; 
    font-size: 14px; 
    color: #000; 
    min-height: 100px;
}

#comentarios .botoncomentario {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    height: 30px;
}

#comentarios .botoncomentario:hover {
    background-color: #0056b3;
}

#comentarios #lista-comentarios .comentario {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
}

#comentarios #lista-comentarios .comentario p {
    margin-top: 10px;
    color: #000;
}

.linea-divisoria5 {
    border: none;
    border-top: 6px solid white; 
    width: 100%; 
    position: relative;
    top: 85px; 
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: #d9d9d9;
    box-sizing: border-box;
    margin-top: 80px; 
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    padding: 0 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.content {
    margin-top: 15px;
}

.social {
    margin-top: 15px;
}

.social a {
    margin-right: 10px;
}

.social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
    color: #fff;
}

.social a span:hover {
    background: #f12020;
}

.right .btn button {
    background-color: #f12020;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    margin-top: 10px; 
    margin-right: 20px; 
    text-align: center;
}

.right .btn button:hover {
    background-color: #d00;
}

@media (max-width: 799px){
   
    .computador {
        display: none;
    }

    .tablet {
        display: none;
    }

    /*Encabezado*/

    .Encabezado{
        margin-top: -15px;
    }

    .Encabezado *{
        color: white;
        text-decoration: none;
        list-style: none;
    }

    .logo img {
        margin-top: -10px;
    }

    .celular {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        margin-top: -10px; 
    }

    .nav {
        position: relative;
        margin-left: -30px;
        display: block; 
        float: none; 
    }

    .nav ul {
        display: none; 
        position: absolute;
        top:20px;
        left:10px;
        background-color: rgba(0, 0, 0, 0.6); 
        padding: 10px 15px;
    }

    .nav li:hover > ul {
        display: block; 
    }

    .Contenedor {
        width: 150px; 
        margin-left: auto; 
    }

    .Contenedor input[type="text"] {
        width: calc(100% - 40px); 
        color: black;
    }

    .Contenedor button {
        margin-left: -5px; 
    }

    .ingresar ul {
        top: -25px; 
        margin-left: -50px;
        list-style: none;
    }

    /*Titulo principal*/
 
    .Titulo {
        height: 100px;
        font-size: 1.0em;
        margin-top: -20px;
        margin-left: -100px;
    }

    .Titulo h1 {
        margin-top: 30px ;
    }

    .Dragon {
        width: 50%; 
        margin-top: -185px;
        margin-right: -110px
    }

    .Dragon img {
        max-width: 100%; 
        height: auto; 
        filter: drop-shadow(15px 15px 15px #000000);
    }

    .linea-divisoria2 {
        top: -85px; 
        z-index: 1;
        border-top: 6px solid white; 
    }

    /* Contenido*/

    #contenido {
        margin-top: -200px; 
    }

    #contenidocarrusel {
        max-width: 340px;
        height: 260px;
        top: 120px;
        z-index: 3;
        right: 6px;
    }

    #puntos {
        margin-top: 120px;
        margin-right: 50px;
    }

    #contenidocarrusel p {
        margin-top: 30px;
        margin-left: 35px;
        font-size: 18px;
    }

    #Diseño {
        max-width: 340px;
        height: 300px;
        margin-top: 0px;
        margin-right: -50px;
     }

    #Diseño h1 {
        margin-right: 60px;
        font-size: 18px;
    }

    #Diseño h2 {
        margin-right:110px;
        font-size: 15px;
        margin-top: -9px;
    }

    #Diseño .parrafo {
        width: 285px;
        height: 180px;
        line-height: 1.5;
        right: 8px;    
    }

    #Diseño .parrafo img {
        width: 80px;
        height: 80px;
    }

    .linea-divisoria3 {
        top: 20px; 
        z-index: 1;
        border-top: 6px solid white; 
    }
    
    /*Videos*/

    #Metodologia1 h1 {
        margin-top: 50px;
        }

    #Objetivo {   
        max-width: 285px;
        margin-left: 14px;
    }

    #Objetivo iframe {
        width: 327px;
    }

    #Objetivo h1 {
        left: 162px;
        width: 335px;
    }
    
    #Diseño1 {
        max-width: 335px;
        left: -12px;
        margin-top: 50px;
    }

    #Diseño1 .parrafo {
        width: 280px;
        left: -8px;
    }
    
    #Diseño1 img {
        width: 80px;
        height: 80px;
    }
    #Diseño1 h1 {
        margin-right: 120px;
    }
    
    #Diseño1 h2 {
        margin-right: 108px;
    }

    #Tematica {   
        max-width: 285px;
        margin-left: 14px;
        margin-top: 30px;
    }

    #Tematica iframe {
        width: 327px;
    }

    #Tematica h1 {
        left: 162px;
        width: 335px;
    }
    #Diseño2 {
        max-width: 335px;
        left: -12px;
        margin-top: 50px;
    }

    #Diseño2 .parrafo {
        width: 280px;
        left: -8px;
    }
    
    #Diseño2 img {
        width: 80px;
        height: 80px;
    }
    #Diseño2 h1 {
        margin-right: 115px;
    }
    
    #Diseño2 h2 {
        margin-right: 70px;
    }
    
    #Creacion {   
        max-width: 285px;
        margin-left: 14px;
        margin-top: 30px;
    }

    #Creacion iframe {
        width: 327px;
    }

    #Creacion h1 {
        left: 162px;
        width: 335px;
    }
    #Diseño3 {
        max-width: 335px;
        left: -12px;
        margin-top: 50px;
    }

    #Diseño3 .parrafo {
        width: 280px;
        left: -8px;
    }
    
    #Diseño3 img {
        width: 80px;
        height: 80px;
    }

    #Diseño3 h1 {
        margin-right: 115px;
    }
    
    #Diseño3 h2 {
        margin-right: 70px;
    }
    
    .linea-divisoria4 {
        top: 10px; 
        z-index: 1;
        border-top: 6px solid white; 
    }

    /*Comentarios*/

    #comentarios {
        top: 20px; 
        max-width: 280px; 
        margin-left:20px;
    }

    .linea-divisoria5 {
        top: 50px; 
        z-index: 1;
        border-top: 6px solid white; 
    }
    
    /*Footer*/

    footer {
        margin-top: 50px; 
    }

    .main-content {
        flex-direction: column; 
        margin-left: 20px;
    }

    .box {
        width: 100%; 
        padding: 0;
        margin-bottom: 10px; 
    }

    .box h2 {
        font-size: 1rem; 
        margin-bottom: 10px; 
    }

    .social {
        margin-top: 0; /
    }
}

@media (min-width: 800px) and (max-width: 1279px) {
    .celular {
        display: none; 
    }
    
    .computador {
        display: none;
    }

    /*Encabezado*/

    .Encabezado{
        margin-top: -25px;
    }
    .Encabezado *{
        color: white;
        text-decoration: none;
        list-style: none;
    }
    .logo img {
        margin-top: 0px;
    }
    .tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        display: flex; 
        list-style-type: none;
        margin: 0; 
        padding: 0; 
    }

    .nav li {
        margin-left: 20px; 
    }

    .nav li a {
        color: white;
        text-decoration: none;
    } 

    .Contenedor {
        width: 150px; 
        margin-left: auto; 
    }

    .Contenedor input[type="text"] {
        width: calc(100% - 40px); 
        color: black;
    }

    .Contenedor button {
        margin-left: -5px; 
    }

    .ingresar ul {
        top: -25px; 
        margin-left: -50px;
        list-style: none;
    }

    /*Titulo principal*/

    .Titulo {
        font-size: 2.0em;
        margin-left: -170px;
        margin-top: -30px;
    }

    .Dragon {
        width:51%;
        margin-right: -240px;
        margin-top:-400px;    
    }

    .Dragon img {
        max-width: 100%; 
        height: auto; 
        filter: drop-shadow(15px 15px 15px #000000);
    }
    
    /* contenido*/

    #contenido {
        margin-top: -150px;
    }

    #contenidocarrusel {
        max-width: 380px;
        left: -20px;
    }

    #contenidocarrusel p {
        margin-top: 40px;
        margin-left: 40px;
        font-size: 24px;
    }

    #puntos {
        max-width: 300px;
        left: -15px;
    }

    #Diseño {
        max-width: 360px;
        right: 20px;
        margin-top: -432px;
    }
    
    #Diseño .parrafo {
        width: 300px;
        height: 230px;
        right: 10px;
        background: #fff;
    }
    
    #Diseño .parrafo img {
        width: 100px;
        height: 100px;
        }
    
    #Diseño h1 {
        margin-right: 30px;
        margin-top: 9px;
    }
        
    #Diseño h2 {
        margin-right: 110px;
        font-size: 18px;
        margin-top: -10px;
    }

    .linea-divisoria2 {
        top: -190px; 
        z-index: 1;
        border-top: 6px solid white; 
    }
    
    /*Videos*/
   
    #Objetivo {   
    max-width: 340px;
    margin-left: 20px;
    }

    #Objetivo iframe {
        width: 380px;
    }

    #Objetivo h1 {
        left: 190px;
        width: 389px;
        margin-top: 0px;
    }

    #Diseño1 {
        max-width: 360px;
        right: 20px;
        margin-top: -263px;
        height: 268px;
    }

    #Diseño1 .parrafo {
        width: 300px;
        height: 153px;
        right: 10px;
        background: #fff;
    }

    #Diseño1 .parrafo img {
        width: 100px;
        height: 100px;
        }

    #Diseño1 h1 {
        margin-right: 130px;
        }
        
    #Diseño1 h2 {
        margin-right: 120px;
        }

    #Tematica {   
        max-width: 340px;
        margin-left: 20px;
    }

    #Tematica iframe {
        width: 380px;
    }

    #Tematica h1 {
        left: 190px;
        width: 389px;
        margin-top: 0px;
    }

    #Diseño2 {
        max-width: 360px;
        right: 20px;
        margin-top: -263px;
        height: 268px;
    }

    #Diseño2 .parrafo {
        width: 300px;
        height: 153px;
        right: 10px;
        background: #fff;
    }

    #Diseño2 .parrafo img {
        width: 100px;
        height: 100px;
    }

    #Diseño2 h1 {
        margin-right: 130px;
    }
        
    #Diseño2 h2 {
        margin-right: 80px;
    }
        
    #Creacion {   
        max-width: 340px;
        margin-left: 20px;
    }
    
    #Creacion iframe {
        width: 380px;
    }

    #Creacion h1 {
        left: 190px;
        width: 389px;
        margin-top: 0px;
    }

    #Diseño3 {
        max-width: 360px;
        right: 20px;
        margin-top: -263px;
        height: 268px;
    }

    #Diseño3 .parrafo {
        width: 300px;
        height: 153px;
        right: 10px;
        background: #fff;
    }

    #Diseño3 .parrafo img {
        width: 100px;
        height: 100px;
     }

    #Diseño3 h1 {
        margin-right: 130px;
     }
        
    #Diseño3 h2 {
        margin-right: 90px;
    }

    .linea-divisoria4 {
        top: 20px; 
        z-index: 1;
        border-top: 6px solid white; 
    }
    
     /*Comentarios*/

     #comentarios {
        top: 30px; 
        max-width: 720px; 
        margin-left:15px;
    }

    .linea-divisoria5 {
        top: 50px; 
        z-index: 1;
        border-top: 6px solid white; 
    }
    
    footer{
        margin-top: 50px;
    }
}

@media (min-width: 1280px) {
    .tablet {
        display: none;
    }
    .celular {
        display: none;
    }

    /*Encabezado*/

    .Encabezado{
        margin-top: -27px;
        font-size: 20px;
    }

    .Encabezado *{
        color: white;
        text-decoration: none;
        list-style: none;
    }

    .logo img {
        margin-top: 5px;
    }
          
    .computador {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        display: flex; 
        list-style-type: none;
        margin: 0; 
        padding: 0; 
        margin-left: -150px;
    }

    .nav li {
        margin-left: 20px; 
    }

    .nav li a {
        color: white;
        text-decoration: none;
    }

    .Contenedor {
        width: 200px; 
        margin-left: auto; 
        margin-right: -30px;
    }

    .Contenedor input[type="text"] {
        width: calc(100% - 40px); 
        color: black;
    }

    .Contenedor button {
        margin-left: -5px; 
    }

    .ingresar ul {
        top: -25px; 
        list-style: none;
    }

    /*Titulo principal*/

    .titulo{
        margin-top: -20px;
    }
}